.BurgerControls{
    width:90%;
    border-radius: 10px;
    background-color: rgb(248, 229, 214);
    display:flex;
    flex-flow:column;
    align-items:center;
    margin:auto;
    padding: 10px 0;
}

.BurgerControls p{
    font-size: 20px;
    font-weight: 700;
    color: red;
}

.BurgerControls button{
    font-size:15px;
    padding: 10px;
    margin:10px;
    background-color: azure;
    color:rgb(223, 109, 68);
    border: 1px solid rgb(221, 230, 230);
    border-radius: 5px;
    cursor:pointer;
    outline:none;
}

.BurgerControls button:hover{
    background-color: rgb(223, 109, 68);
    color:azure;
}